# ruff.toml
line-length = 100
target-version = "py311"

[lint]
select = [
  "E",    # pycodestyle (erros)
  "F",    # pyflakes
  "I",    # isort
  "B",    # flake8-bugbear
  "UP",   # pyupgrade
  "TID",  # tidy imports (import boundaries)
]

ignore = [
  "E501", # line length (jรก controlado acima)
]

[lint.isort]
combine-as-imports = true
known-first-party = ["fundamentum"]

[lint.flake8-tidy-imports]
ban-relative-imports = "all"

# Aplica essas regras SOMENTE ao utils
[lint.per-file-ignores]
"src/fundamentum/utils/*.py" = []
